* {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
}
  
.background  {
    height: 2000px;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    background-color: #ffb901;
    background-image: url('../img/orange_background-min.png');
    background-blend-mode: multiply;
}

header > .woman {
    position: absolute;
    right: 0;
}

.woman {
    height: 100vh;

}

.testing {
    height: 2000px;
}

.logo {
    position: absolute;
    height: 280px;
    margin-top: 370px;
    margin-left: 200px;
    z-index: 1;
}

.header__title {
    position: absolute;
    color: white;
    font-size: 60px;
    z-index: 1;
    width: 50px;
    line-height: 50px;
    margin-left: 200px;
    margin-top: 150px;
    font-family: Helvetica, Arial, Sans-Serif;
}

.content__right {
    position: absolute;
    right: 0;
    margin-right: 50px;
    width: 300px;
    text-align: right;
}

.content__right > h4, .content__left > h4 {
    font-family: Helvetica, Arial, Sans-Serif;
    font-size: 32px;
}

.content__left {
    margin-left: 50px;
    width: 300px;
}

@media only screen and (max-width: 600px) {
    header > .woman {
        height: 40vh;
    }

    .logo {
        position: absolute;
        height: 80px;
        margin-top: 20vh;
        margin-left: 20px;
        z-index: 1;
    }

    .header__title {
        position: absolute;
        color: white;
        font-size: 21px;
        z-index: 1;
        width: 50px;
        line-height: 20px;
        margin-left: 20px;
        margin-top: 2vh;
        font-family: Helvetica, Arial, Sans-Serif;
    }
}